<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Genres</title>
</head>
<body>
<table class="table table-striped">

  <thead style="background-color: darkgray">

  <tr>
    <th>NAME</th>


  </tr>
  </thead>
  <tbody style="background-color: white;
font-weight: bold; font-size: 20px;">
  <tr th:each="genre : ${genrelist}">
    <td th:text="${genre.type}"></td>

    <td>
      <a th:href="@{/moviesofgenre/{id}(id=${genre.id})}" class="btn-danger">Display Movies</a>
    </td>
    <td>
      <a th:href="@{/deletegenre/{id}(id=${genre.id})}" class="btn-danger">Delete</a>
    </td>

  </tr>

  </tbody>
</table>
<a th:href="@{/}" style="text-decoration: none;font-size: 30px"> <---- Back to home page</a>

</body>
</html>